.carousel-item {
    padding: 20px 40px
}

.price {
    color: rgb(234, 23, 76);
}

.btn-crousel {
    background-image: linear-gradient(30deg, rgb(255, 97, 136), rgb(255, 24, 82));
    padding: 10px 25px
}

.catagories {
    margin-top: 70px !important
}

.shoes {
    margin-top: 70px;
}

.cat-1 {
    background-image: linear-gradient(60deg, rgb(255, 120, 2), rgb(238, 234, 15));
}

.cat-2 {
    background-image: linear-gradient(30deg, rgb(255, 97, 136), rgb(255, 24, 82));
}

.cat-3 {
    background-color: blue;
}

.card {
    text-align: justify;
}

.backpack {
    margin-top: 70px;
}

.Subscribe {
    background-color: #fceae8;
    height: 350px;
    margin-top: 70px;
}

.formheight {
    height: 50px
}

.formbutton {
    background-image: linear-gradient(30deg, rgb(255, 97, 136), rgb(255, 24, 82));
    padding: 10px 30px;
    color: white;
}